---
name: Publish ADR Documentation via Log4brains

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main  # forward-compatibility with new GitHub default branch naming
      - master  # backward-compatibility with old GitHub default branch naming
  workflow_dispatch:
  pull_request:

env:
  BUILD_DIR: .log4brains/out
  BENCHMARKS_DIR: dev

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
      pages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          persist-credentials: false  # required by JamesIves/github-pages-deploy-action
          fetch-depth: 0  # required by Log4brains to work correctly (needs the whole Git history)
      - name: Install Node
        uses: actions/setup-node@v2.1.5
        with:
          node-version: "14"
      - name: Install and Build Log4brains
        run: |
          npm install -g log4brains
          log4brains build \
            --basePath "/${GITHUB_REPOSITORY#*/}/adl" \
            --out "${BUILD_DIR}/adl"
          touch "${BUILD_DIR}/.nojekyll"
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          # yamllint disable-line rule:braces
          folder: {{ "${{ env.BUILD_DIR }}" }}
          # yamllint disable-line rule:braces
          clean-exclude: {{ "${{ env.BENCHMARKS_DIR }}" }}
